	body {
		display: inline;
		background-color:black;
		font-family: cursive,verdana, arial;
	
	}

	header{
		display:inline;/* h1(développeuse web) and #civ(adresse..) parent's*/
		}

	h1 {	display:inline;
		border: 1px solid #AFEEEE;
		box-shadow:3px 4px white;
		width:39%;
		height:62%;
		text-shadow:1px 2px #7FFFD4;
		font-size:2.5em;
		color:white;
		float:right;
		background-color:black;
		margin-top:7%; /*space between nav & title*/
		margin-right:11%;
		padding:3.5%;
		}

	#nav{
		position: fixed;
		width:auto;
		height:5%;
		margin:auto;
		display:flex; /*text nav(#nav li) parent's*/
		position:column;
		

	}

	#nav li 
	{       display:flex;
		position:column;
		list-style:none;
	}

	a {
		
		text-decoration: none; /*li without point*/ 
		color:#BA55D3;
		
		padding:0.7em;
	
	}
	a:hover {
		color:#64FFF5;
	}
	a:visited {
        	color:#14CC8C;
	}

	h2 {
		padding-left:0.5em;
	} 

	h3 {
		font-size-adjust:0.5;

	}

	#civ {  position:absolute;
		right:60%;
		top: 148%; /* positioning #civ outside of header*/
		text-align:justify;
		width: 38%;
		height:9%;
		color:white;
		
		
	}

	p {     display:inline;
		padding:1.2em;
		padding-top:0.8em;
	
	}

	.liste {list-style:none;
	}

	.exp {  float:right;
		margin-right:10%;
		background-color:#7FFFD4;
		display: inline;
		width:48%;
		border: 1px solid black;
	}

	.comp { background-color:#AFEEEE;
		margin-left:10%;
		width:33%;
		height:33%;
		margin-top:17.5%;
		border: 1px solid black;
	}

	.dipl { /*margin:0.5em;*/
		background-color:#FFB6C1;
		margin-left:10%;
		display:inline;
		float: left;
		width:33%;
		border: 1px solid black;
	}

	.lois{  background-color:#BA55D3;
		margin-left:6%;
		display:inline;
		float: right;
		width:48%;
		margin-right:10%;
		border: 1px solid black;
	}


